.cards > ul {
    background-color: transparent;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    list-style: none;
    margin: 0;
    padding: 0
}

.cards > ul > li {
    background-color: var(--background-color);
    border: 1px solid #dadada
}

.cards .cards-card-body {
    margin: 16px
}

.cards .cards-card-image {
    line-height: 0
}

.cards > ul > li img {
    aspect-ratio: 4 / 3;
    object-fit: cover;
    width: 100%
}
